@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="w-100 vh-100 ">
    <div class="row w-100 ">
        <div class="col-md-3 bg-dark">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9 vh-100">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}



