@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<style>
    body {
        background: #f8f9fa;
    }

    .auth-container {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .auth-card {
        background: #fff;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 450px;
    }

    .btn-hover {
        transition: transform 0.2s ease-in-out;
    }

        .btn-hover:hover {
            transform: translateY(-3px);
        }

    .email-card {
        background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
        backdrop-filter: blur(2px);
        border: 1px solid white;
    }
</style>

<div class="auth-container">
    <div class="auth-card email-card" data-tilt>
        <h3 class="text-center mb-4 text-white">@ViewData["Title"]</h3>
        <partial name="_StatusMessage" for="StatusMessage" />
        <form id="change-password-form" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-primary btn-hover">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
