
*{
    font-family:Inter;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

#carouselExampleIndicators .carousel-inner {
    max-height: 300px; /* Ajustez cette valeur selon vos besoins */
}

#carouselExampleIndicators .carousel-item img {
    object-fit: cover; /* Cela permet de maintenir les proportions tout en remplissant l'espace */
    height: 100%; /* Garantir que l'image couvre toute la hauteur du carousel */
}


html::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

html::-webkit-scrollbar-track {
    background: #898a8b;
    border-radius: 3px;
}

html::-webkit-scrollbar-thumb {
    background: #0dcaf0;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #007bff;
}

.anouncement {
    border: 1px solid #f8f9fa;
    margin: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.frameAnnouncement {
    border: 1px solid #f8f9fa;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
.card {
    border-radius: 10px;
    overflow: hidden;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.6); /* Fond noir semi-transparent */
    color: white; /* Texte en blanc */
    padding: 15px;
    border-radius: 10px; /* Bords arrondis pour un meilleur design */
}

.fixed-button-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1050;
}
.fixed-button-left {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1050;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login, main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login {
    min-width: 35%;
    border: 1px solid white;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
    backdrop-filter:blur(2px);
}


#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -50;
    background: linear-gradient(45deg, #2c5364, #203a43, #0f2027);
    margin: 0;
    overflow:hidden;
}

.input{
    border-radius:20px;
}